
@{
    ViewBag.Title = "ClientesProspectos";
    Layout = "~/Views/_Layout/Master.cshtml";
}

<h2>Clientes Prospectos</h2>

<script>
    var id_RV = '@ViewBag.id_RV' //! ID de la vista

    var url_Catalogos_GetClientes = '@Url.Action("GetListaProspectos", "Prospectos")';
    var url_Catalogos_GetCatalogos = '@Url.Action("GetCatalogos", "Catalogos")';

    var url_Catalogos_GetPermisos = '@Url.Action("GetPermisos", "Catalogos")';

    var url_Catalogos_AddCliente = '@Url.Action("AddProspecto", "Prospectos")';
    var url_Catalogos_UpdateCliente = '@Url.Action("UpdateProspecto", "Prospectos")';

    var url_Catalogos_GetContactos = '@Url.Action("GetContactos", "Catalogos")';
    var url_Catalogos_EliminarContactos = '@Url.Action("DeleteContactos", "Catalogos")';
    var url_Catalogos_AddContactos = '@Url.Action("AddContactos", "Catalogos")';


     var url_Catalogos_GetSeguimiento = '@Url.Action("GetSeguimiento", "Prospectos")';
    var url_Catalogos_EliminarSeguimiento = '@Url.Action("DeleteSeguimiento", "Prospectos")';
    var url_Catalogos_AddSeguimiento = '@Url.Action("AddSeguimiento", "Prospectos")';


</script>

@*<script src="~/Content/Js/Externo/html2pdf.bundle.min.js"></script>*@
<script src="~/Content/Js/Externo/moment.min.js"></script>
<script src="~/Content/Js/Personal/Utils/ClsColumns.js"></script>
<script src="~/Content/Js/Personal/Catalogos/Prospectos.js"></script>
<script src="~/Content/Js/Personal/Catalogos/ProspectosModal.js"></script>

<script src="~/Content/Js/Personal/Catalogos/SeguimientoModal.js"></script>
<script src="~/Content/Js/Personal/Catalogos/ContactosModal.js"></script>
<script src="~/Content/Js/Personal/Catalogos/ServiciosModal.js"></script>


<style>
    .ui-draggable, .ui-droppable {
        background-position: top;
    }

    .ui-menu {
        z-index: 910 !important;
        font-size: 0.9rem !important;
    }

    .ui-datepicker {
        z-index: 910 !important
    }

    #htmlFichaTecnica h3 {
        background-color: transparent;
        text-align: center;
        color: #000000;
        padding: 10px 0px;
        font-size: 18px;
        font-weight: 600;
    }

    #htmlFichaTecnica h5 {
        font-size: 16px;
        font-weight: 600;
    }

    #htmlFichaTecnica > div > div > div {
        padding: 0px 10px;
        border: 1px solid #808080;
    }

    #htmlFichaTecnica textarea {
        font-size: 20px;
    }

    #frmFichaTecnica {
        padding: 0px;
    }

        #frmFichaTecnica .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: white;
            background-color: var(--btn-ok);
            border-color: none;
        }

        #frmFichaTecnica .nav-tabs .nav-link {
            border: 1px solid #e0dcdc;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            margin-left: 5px;
        }

    #mdlFechaServicio {
        width: 300px
    }
</style>


@* Formulario de búsqueda *@
<div class="section frmFilter" id="frmFilter">
    <form action="/" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="fl_nombre">Nombre / Razón Social</label>
                <input type="text" class="form-control" id="fl_nombre" placeholder="Buscar por nombre / razón social" autocomplete="off">
            </div>
            <div class="form-group col-md-6">
                <label for="fl_rfc">RFC</label>
                <input type="text" class="form-control" id="fl_rfc" placeholder="Buscar por rfc" autocomplete="off">
            </div>
        </div>
        <div class="form-row">            
            <div class="form-group col-md-12 d-flex justify-content-around">
                <button type="button" class="btn btn-style btn-ok" id="btnSearchWFilter">
                    <i class="fa fa-search"></i>&nbsp;&nbsp;Buscar&nbsp;&nbsp;
                </button>
                <button type="button" class="btn btn-style btn-second" id="btnClearFilters">
                    <i class="fa fa-refresh"></i>&nbsp;&nbsp;Limpiar&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </form>
</div>

@* Seccion para el datatable *@
<div class="section" id="sectionDataTable">
    <table id="tblClientes" class="cell-border table-striped" data-title-datatable="Lista de Clientes">
        <thead>
            <tr>
                <td>Id cliente</td>                
                <td>Rfc</td>
                <td>Nombre / Razón Social</td>                         
                <td>Fecha creación</td>
                <td>Correo electrónico</td>
                <td>Teléfono</td>
                <td>Teléfono movil</td>                
                <td>Agente</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@* Modal para crear, editar, modificar *@
<div class="modal" id="mdlClientes">
    <h3><span id="titleModal">Agregar</span> Cliente</h3>

    <ul class="nav nav-tabs" id="tabModal" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="form-tab" href="#formTab" aria-controls="formTab" role="tab" data-toggle="tab" aria-selected="true">Formulario</a>
        </li>
    </ul>

    <div class="tab-content" id="modalTabContent">
        <div class="tab-pane fade show active" id="formTab" aria-labelledby="form-tab" role="tabpanel">
            <form action="/" method="post" id="frmPrincipal">
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="fr_nombre_razon">Nombre / Razón Social</label>
                        <input type="text" class="form-control text-uppercase" id="fr_nombre_razon" name="fr_nombre_razon" autocomplete="off" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fr_rfc">RFC</label>
                        <input type="text" maxlength="13" class="form-control text-uppercase" id="fr_rfc" name="fr_rfc" autocomplete="off">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="fr_telefono">Teléfono</label>
                        <input type="text" onkeypress="return validarNumeros(event);" maxlength="10" class="form-control text-uppercase" id="fr_telefono" name="fr_telefono" autocomplete="off">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fr_telefono_movil">Teléfono Móvil</label>
                        <input type="text" onkeypress="return validarNumeros(event);" maxlength="10" class="form-control text-uppercase" id="fr_telefono_movil" name="fr_telefono_movil" autocomplete="off">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fr_correo_electronico">Correo Electrónico</label>
                        <input type="email" class="form-control text-uppercase" id="fr_correo_electronico" name="fr_correo_electronico" autocomplete="off">
                    </div>
                </div>
            </form>
        </div>

        <div class="form-group form col-md-12 d-flex justify-content-around">
            <button type="button" class="btn btn-style btn-ok" id="btnAceptarMdl">
                <i class="fa fa-check"></i>&nbsp;&nbsp;<span id="titleBtnAceptar">Agregar</span>&nbsp;&nbsp;
            </button>
            <button type="button" class="btn btn-style btn-danger" id="btnCloseMdl">
                <i class="fa fa-times"></i>&nbsp;&nbsp;Cerrar&nbsp;&nbsp;
            </button>
        </div>

    </div>
</div>

<div class="modal" id="mdlContactos">
    <h3>Agregar Contactos</h3>
    <form id="frmContactos">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>RFC</label>
                <input type="text" class="form-control text-uppercase" autocomplete="off" readonly id="fr_rfc_contacto">
            </div>
            <div class="form-group col-md-6">
                <label>Nombre Completo</label>
                <input class="form-control" id="fr_nombre_completo_contacto" name="fr_nombre_completo_contacto" />
            </div>
            <div class="form-group col-md-4">
                <label>Tipo</label>
                <input class="form-control" id="fr_tipo_contacto" name="fr_tipo_contacto" />
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-2">

            </div>
            <div class="form-group col-md-6">
                <label>Correo</label>
                <input class="form-control" id="fr_correo_contacto" name="fr_correo_contacto" />
            </div>
            <div class="form-group col-md-4">
                <label>Teléfono</label>
                <input class="form-control" id="fr_telefono_contacto" name="fr_telefono_contacto" />
            </div>

        </div>
        <br />
        @* Seccion para el datatable Depositos*@
        <div class="section" id="sectionDataTable">
            <table id="tblContactos" class="cell-border table-striped" data-title-datatable="Contactos">
                <thead>
                    <tr>
                        <td>Acciones</td>
                        <td>Nombre completo</td>
                        <td>Tipo contacto</td>
                        <td>Teléfono</td>
                        <td>Correo</td>
                        <td>Fecha Creación</td>
                        <td>Id contacto</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="form-group col-md-12 d-flex justify-content-around">
            <button type="button" class="btn btn-style btn-ok" id="btnAceptarMdlContactos">
                <i class="fa fa-check"></i>&nbsp;&nbsp;<span id="titleBtnAceptarContactos">Agregar</span>&nbsp;&nbsp;
            </button>
            <button type="button" class="btn btn-style btn-danger" id="btnCloseMdlContactos">
                <i class="fa fa-times"></i>&nbsp;&nbsp;Cerrar&nbsp;&nbsp;
            </button>
        </div>
    </form>
</div>



<div class="modal" id="mdlSeguimiento">
    <h3>Agregar Seguimiento</h3>
    <form id="frmSeguimiento">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>RFC</label>
                <input type="text" class="form-control text-uppercase" autocomplete="off" readonly id="fr_rfc_seguimiento">
            </div>
            <div class="form-group col-md-4">
                <label>Tipo</label>
                <div class="input-group mb-3">
                    <select class="form-control" id="fr_tipo_seguimiento" name="fr_tipo_seguimiento">
                        <option value="Llamada">Llamada</option>
                        <option value="Correo Eletrónico">Correo Eletrónico</option>
                        <option value="Mensaje">Mensaje</option>
                        <option value="Visita">Visita</option>
                    </select>

                </div>
            </div>
            <div class="form-group col-md-4">
                <label>Fecha</label>
                <input type="text" class="form-control datepicker" id="fr_fecha_seguimiento" name="fr_fecha_seguimiento" autocomplete="off">
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                
            </div>
            <div class="form-group col-md-4">
                <label>Motivo</label>
                <textarea class="form-control text-uppercase" id="fr_motivo" name="fr_motivo" autocomplete="off" rows="3"></textarea>
            </div>
            <div class="form-group col-md-4">
                <label>Respuesta</label>
                <textarea class="form-control text-uppercase" id="fr_respuesta" name="fr_respuesta" autocomplete="off" rows="3"></textarea>
            </div>

        </div>
        <br />
        @* Seccion para el datatable Depositos*@
        <div class="section" id="sectionDataTable">
            <table id="tblSeguimiento" class="cell-border table-striped" data-title-datatable="Seguimiento">
                <thead>
                    <tr>
                        <td>Acciones</td>                        
                        <td>Tipo seguimiento</td>
                        <td>Fecha</td>
                        <td>Motivo</td>
                        <td>Respuesta</td>
                        <td>Agente</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="form-group col-md-12 d-flex justify-content-around">
            <button type="button" class="btn btn-style btn-ok" id="btnAceptarMdlSeguimiento">
                <i class="fa fa-check"></i>&nbsp;&nbsp;<span id="titleBtnAceptarSeguimiento">Agregar</span>&nbsp;&nbsp;
            </button>
            <button type="button" class="btn btn-style btn-danger" id="btnCloseMdlSeguimiento">
                <i class="fa fa-times"></i>&nbsp;&nbsp;Cerrar&nbsp;&nbsp;
            </button>
        </div>
    </form>
</div>

<div class="modal" id="mdlServicios">
    <h3>Agregar Servicios</h3>
    <form id="frmServicios">
        <!---->
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>RFC</label>
                <input type="text" class="form-control text-uppercase" autocomplete="off" readonly id="fr_rfc_contacto">
            </div>
            <div class="form-group col-md-6">
                <label>Nombre Completo</label>
                <input class="form-control" id="fr_nombre_completo_contacto" name="fr_nombre_completo_contacto" />
            </div>
            <div class="form-group col-md-4">
                <label>Tipo</label>
                <input class="form-control" id="fr_tipo_contacto" name="fr_tipo_contacto" />
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-2">

            </div>
            <div class="form-group col-md-6">
                <label>Correo</label>
                <input class="form-control" id="fr_correo_contacto" name="fr_correo_contacto" />
            </div>
            <div class="form-group col-md-4">
                <label>Teléfono</label>
                <input class="form-control" id="fr_telefono_contacto" name="fr_telefono_contacto" />
            </div>

        </div>
        <br />
        @* Seccion para el datatable Depositos*@
        <div class="section" id="sectionDataTable">
            <table id="tblContactos" class="cell-border table-striped" data-title-datatable="Contactos">
                <thead>
                    <tr>
                        <td>Acciones</td>
                        <td>Nombre completo</td>
                        <td>Tipo contacto</td>
                        <td>Teléfono</td>
                        <td>Correo</td>
                        <td>Fecha Creación</td>
                        <td>Id contacto</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!---->
        <div class="form-group col-md-12 d-flex justify-content-around">
            <button type="button" class="btn btn-style btn-ok" id="btnAceptarMdlServicios">
                <i class="fa fa-check"></i>&nbsp;&nbsp;<span id="titleBtnAceptarServicios">Agregar</span>&nbsp;&nbsp;
            </button>
            <button type="button" class="btn btn-style btn-danger" id="btnCloseMdlServicios">
                <i class="fa fa-times"></i>&nbsp;&nbsp;Cerrar&nbsp;&nbsp;
            </button>
        </div>
    </form>
</div>