
@{
    ViewBag.Title = "ListaClientes";
    Layout = "~/Views/_Layout/Master.cshtml";
}

<h2>Lista de Clientes</h2>

<script>
    var id_RV = '@ViewBag.id_RV' //! ID de la vista

    var url_Catalogos_GetClientes = '@Url.Action("GetClientes", "Consultas")';
    var url_Catalogos_GetCatalogos = '@Url.Action("GetCatalogos", "Consultas")';

    var url_Catalogos_GetPermisos = '@Url.Action("GetPermisos", "Consultas")';

    var url_Catalogos_GetActividades = '@Url.Action("GetActividades", "Catalogos")';

    var url_Catalogos_GetEstatus = '@Url.Action("GetEstatus", "Catalogos")';
    var url_Catalogos_GetServicios = '@Url.Action("GetServiciosAdicionales", "Catalogos")';

    var url_Catalogo_SendCorreo = '@Url.Action("SendCorreo", "Catalogos")';
</script>

<script src="~/Content/Js/Personal/Utils/ClsColumns.js"></script>

<script src="~/Content/Js/Personal/Consultas/Clientes.js"></script>
<script src="~/Content/Js/Personal/Catalogos/ActividadesModal.js"></script>
<script src="~/Content/Js/Personal/Catalogos/EstatusModal.js"></script>
<script src="~/Content/Js/Personal/Catalogos/ServiciosAdicionalesModal.js"></script>
<script src="~/Content/Js/Personal/Consultas/EnvioCorreoModal.js"></script>
<style>
    .ui-draggable, .ui-droppable {
        background-position: top;
    }

    .ui-menu {
        z-index: 910 !important;
        font-size: 0.9rem !important;
    }

    .ui-datepicker {
        z-index: 910 !important
    }
</style>


@* Formulario de búsqueda *@
<div class="section frmFilter" id="frmFilter">
    <form action="/" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="fl_nombre">Nombre / Razón Social</label>
                <input type="text" class="form-control" id="fl_nombre" placeholder="Buscar por nombre / razón social" autocomplete="off">
            </div>
            <div class="form-group col-md-6">
                <label for="fl_rfc">RFC</label>
                <input type="text" class="form-control" id="fl_rfc" placeholder="Buscar por rfc" autocomplete="off">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="fl_ddlRegimen">Tipo Persona</label>
                <select id="fl_ddlRegimen" class="form-control"></select>
            </div>
            <div class="form-group col-md-6">
                <div>
                    <label>Estatus</label>
                </div>
                <div class="d-flex justify-content-around">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="fl_RdbActivo" name="fl_RdbEstatus" value="1" class="custom-control-input">
                        <label class="custom-control-label" for="fl_RdbActivo">Activo</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="fl_RdbInactivo" name="fl_RdbEstatus" value="2" class="custom-control-input">
                        <label class="custom-control-label" for="fl_RdbInactivo">Inactivo</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="fl_RdbTodos" name="fl_RdbEstatus" value="0" class="custom-control-input" checked>
                        <label class="custom-control-label" for="fl_RdbTodos">Todos</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12 d-flex justify-content-around">
                <button type="button" class="btn btn-style btn-ok" id="btnSearchWFilter">
                    <i class="fa fa-search"></i>&nbsp;&nbsp;Buscar&nbsp;&nbsp;
                </button>
                <button type="button" class="btn btn-style btn-second" id="btnClearFilters">
                    <i class="fa fa-refresh"></i>&nbsp;&nbsp;Limpiar&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </form>
</div>

@* Seccion para el datatable *@
<div class="section" id="sectionDataTable">
    <table id="tblClientes" class="cell-border table-striped" data-title-datatable="Lista de Clientes">
        <thead>
            <tr>                
                <td>Id cliente</td>
                <td>Línea</td>
                <td>Rfc</td>
                <td>Nombre / Razón Social</td>
                <td>Id Tipo persona</td>
                <td>Tipo persona</td>
                <td>Estatus</td>
                <td>Estatus</td>
                <td>Fecha creación</td>
                <td>Correo electrónico</td>
                <td>Teléfono</td>
                <td>Teléfono movil</td>
                <td>Dirección fiscal</td>
                <td>Id usuario</td>
                <td>Nombre</td>
                <td>Apellido paterno</td>
                <td>Apellido materno</td>
                <td>Régimen</td>
                <td>Id régimen</td>
                <td>Actividad Económica</td>
                <td>Caducidad FIEL</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@* Modal para crear, editar, modificar *@
<div class="modal" id="mdlClientes">
    <h3><span id="titleModal">Agregar</span> Cliente</h3>

    <ul class="nav nav-tabs" id="tabModal" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="form-tab" href="#formTab" aria-controls="formTab" role="tab" data-toggle="tab" aria-selected="true">Formulario</a>
        </li>
    </ul>

    <div class="tab-content" id="modalTabContent">
        <div class="tab-pane fade show active" id="formTab" aria-labelledby="form-tab" role="tabpanel">
            <form action="/" method="post" id="frmPrincipal">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="fr_nombre">Nombre</label>
                        <input type="text" class="form-control text-uppercase" onkeypress="return validarLetras(event);" id="fr_nombre" name="fr_nombre" autocomplete="off">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fr_apellido_paterno">Apellido paterno</label>
                        <input type="text" class="form-control text-uppercase" onkeypress="return validarLetras(event);" id="fr_apellido_paterno" name="fr_apellido_paterno" autocomplete="off">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fr_apellido_materno">Apellido materno</label>
                        <input type="text" class="form-control text-uppercase" onkeypress="return validarLetras(event);" id="fr_apellido_materno" name="fr_apellido_materno" autocomplete="off">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="fr_fecha_nacimiento">Fecha de Nacimiento</label>
                        <input type="text" class="form-control datepicker" id="fr_fecha_nacimiento" name="fr_fecha_nacimiento" autocomplete="off">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fr_telefono">Teléfono</label>
                        <input type="text" onkeypress="return validarNumeros(event);" maxlength="10" class="form-control text-uppercase" id="fr_telefono" name="fr_telefono" autocomplete="off">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fr_telefono_movil">Teléfono Móvil</label>
                        <input type="text" onkeypress="return validarNumeros(event);" maxlength="10" class="form-control text-uppercase" id="fr_telefono_movil" name="fr_telefono_movil" autocomplete="off">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="fr_correo_electronico">Correo Electrónico</label>
                        <input type="email" class="form-control text-uppercase" id="fr_correo_electronico" name="fr_correo_electronico" autocomplete="off">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="fr_rfc">RFC</label>
                        <input type="text" maxlength="13" class="form-control text-uppercase" id="fr_rfc" name="fr_rfc" autocomplete="off">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="fr_id_tipo_persona">Tipo Persona</label>
                        <select class="form-control" id="fr_id_tipo_persona" name="fr_id_tipo_persona"></select>
                    </div>


                </div>

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="fr_nombre_razon">Nombre / Razón Social</label>
                        <input type="text" class="form-control text-uppercase" id="fr_nombre_razon" name="fr_nombre_razon" autocomplete="off" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fr_id_regimen">Régimen</label>
                        <select class="form-control" id="fr_id_regimen" name="fr_id_regimen"></select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="fr_direccion_fiscal">Dirección Fiscal</label>
                        <textarea class="form-control text-uppercase" id="fr_direccion_fiscal" name="fr_direccion_fiscal" autocomplete="off" rows="3"></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="fr_contrasenia">Contraseña</label>
                        <input type="password" class="form-control" onkeypress="return validarAlfanumericosEspeciales(event);" id="fr_contrasenia" name="fr_contrasenia">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fr_contrasenia2">Confirmar contraseña</label>
                        <input type="password" class="form-control" onkeypress="return validarAlfanumericosEspeciales(event);" id="fr_contrasenia2" name="fr_contrasenia2">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fr_activo">Activo</label>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="fr_id_estatus" name="fr_id_estatus">
                            <label class="custom-control-label" for="fr_id_estatus"></label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="form-group form col-md-12 d-flex justify-content-around">
            <button type="button" class="btn btn-style btn-ok" id="btnAceptarMdl">
                <i class="fa fa-check"></i>&nbsp;&nbsp;<span id="titleBtnAceptar">Agregar</span>&nbsp;&nbsp;
            </button>
            <button type="button" class="btn btn-style btn-danger" id="btnCloseMdl">
                <i class="fa fa-times"></i>&nbsp;&nbsp;Cerrar&nbsp;&nbsp;
            </button>
        </div>

    </div>
</div>

<div class="modal" id="mdlActividades">
    <h3>Actividades</h3>
    <form id="frmActividades">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>RFC</label>
                <input type="text" class="form-control text-uppercase" autocomplete="off" readonly id="fr_rfc_actividad">
            </div>
        </div>
        <br />
        @* Seccion para el datatable Depositos*@
        <div class="section" id="sectionDataTable">
            <table id="tblActividades" class="cell-border table-striped" data-title-datatable="Actividades">
                <thead>
                    <tr>
                        <td>Acciones</td>
                        <td>Actividad</td>
                        <td>Porcentaje</td>
                        <td>Fecha Creación</td>
                        <td>Id actividad</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="form-group col-md-12 d-flex justify-content-around">

            <button type="button" class="btn btn-style btn-danger" id="btnCloseMdlActividad">
                <i class="fa fa-times"></i>&nbsp;&nbsp;Cerrar&nbsp;&nbsp;
            </button>
        </div>
    </form>
</div>


<div class="modal" id="mdlEstatus">
    <h3>Estatus del Cliente</h3>
    <form id="frmEstatus">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>RFC</label>
                <input type="text" class="form-control text-uppercase" autocomplete="off" readonly id="fr_rfc_estatus">
            </div>
        </div>
        <br />
        @* Seccion para el datatable Estatus*@
        <div class="section" id="sectionDataTable">
            <table id="tblEstatus" class="cell-border table-striped" data-title-datatable="Estatus">
                <thead>
                    <tr>
                        <td>Acciones</td>
                        <td>Estatus</td>
                        <td>Fecha</td>
                        <td>Observación</td>
                        <td>Id actividad</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="form-group col-md-12 d-flex justify-content-around">

            <button type="button" class="btn btn-style btn-danger" id="btnCloseMdlEstatus">
                <i class="fa fa-times"></i>&nbsp;&nbsp;Cerrar&nbsp;&nbsp;
            </button>
        </div>
    </form>
</div>

<div class="modal" id="mdlServicios">
    <h3>Agregar Servicio Adicional</h3>
    <form id="frmServicios">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>RFC</label>
                <input type="text" class="form-control text-uppercase" autocomplete="off" readonly id="fr_rfc_servicio">
            </div>

        </div>
        <br />
        @* Seccion para el datatable Depositos*@
        <div class="section" id="sectionDataTable">
            <table id="tblServicios" class="cell-border table-striped" data-title-datatable="Servicios">
                <thead>
                    <tr>
                        <td>Acciones</td>
                        <td>Servicio Adicional</td>
                        <td>Encargado</td>
                        <td>Área</td>
                        <td>Fecha Creación</td>
                        <td>Id servicio</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="form-group col-md-12 d-flex justify-content-around">
            <button type="button" class="btn btn-style btn-danger" id="btnCloseMdlServicio">
                <i class="fa fa-times"></i>&nbsp;&nbsp;Cerrar&nbsp;&nbsp;
            </button>
        </div>
    </form>
</div>

@*! Modal para actualizar fecha de pago *@
<div class="modal " id="mdlFechaPago" style="width:500px;">
    <h3>Enviar Solicitud de Edo de Cta</h3>
    <form id="frmFechaPago">
        <div class="form-row">
            <div class="form-group col-md-2">

            </div>
            <div class="form-group col-md-8">
                <label>Seleccione fecha</label>

                <select class="form-control" id="fl_mes" name="fl_mes">
                    <option value="1">ENERO</option>
                    <option value="2">FEBRERO</option>
                    <option value="3">MARZO</option>
                    <option value="4">ABRIL</option>
                    <option value="5">MAYO</option>
                    <option value="6">JUNIO</option>
                    <option value="7">JULIO</option>
                    <option value="8">AGOSTO</option>
                    <option value="9">SEPTIEMBRE</option>
                    <option value="10">OCTUBRE</option>
                    <option value="11">NOVIEMBRE</option>
                    <option value="12">DICIEMBRE</option>
                </select>                
                <br />
                <select class="form-control" id="fl_periodo" name="fl_periodo">
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>

                </select>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <br />
        <div class="form-group col-md-12 d-flex justify-content-around">
            <button type="button" class="btn btn-style btn-ok" id="btnAceptarMdlFecha">
                <i class="fa fa-check"></i>&nbsp;&nbsp;<span>Enviar Correo(s)</span>&nbsp;&nbsp;
            </button>
            <button type="button" class="btn btn-style btn-danger" id="btnCloseMdlFecha">
                <i class="fa fa-times"></i>&nbsp;&nbsp;Cerrar&nbsp;&nbsp;
            </button>
        </div>
    </form>
</div>

<form id="frmSolicitud" action="@Url.Action("ConsultaRFC","Consultas")" method="post" class="d-none">
    <input type="hidden" id="frs_id_cliente" name="frs_id_cliente" value="">
    <input type="hidden" id="frs_rfc" name="frs_rfc" value="">
    <input type="hidden" id="frs_nombre_razon" name="frs_nombre_razon" value="">
    <input type="hidden" id="frs_id_regimen" name="frs_id_regimen" value="">
    <input type="hidden" id="frs_es_asesoria" name="frs_es_asesoria" value="">
    <input type="hidden" id="frs_aplica_coi" name="frs_aplica_coi" value="">
</form>

<form id="frmAnual" action="@Url.Action("CierreAnual","Catalogos")" method="post" class="d-none">
    <input type="hidden" id="frs_id_cliente_2" name="frs_id_cliente_2" value="">
    <input type="hidden" id="frs_rfc_2" name="frs_rfc_2" value="">
    <input type="hidden" id="frs_nombre_razon_2" name="frs_nombre_razon_2" value="">
    <input type="hidden" id="frs_id_regimen_2" name="frs_id_regimen_2" value="">
</form>